* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: 'Space Mono', monospace;
  padding: 2rem;
}

@media screen and (min-width: 675px) {
  body {
    padding: 3rem 11rem 0 7rem;
  }
}
header {
  font-size: 2.4rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 6rem;
}
@media (min-width: 675px) {
  header {
    margin-bottom: 10rem;
  }
}
main {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 675px) {
  main {
    /* flex-wrap: nowrap; */
    justify-content: space-around;
  }
}
main img {
  display: block;
  width: 286px;
  height: 238px;
  margin-bottom: 6rem;
}

@media (min-width: 675px) {
  main img {
    width: 535px;
    height: 447px;
  }
}

section {
  width: 100%;
}
section h1 {
  font-size: 4.8rem;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 3rem;
}

section p {
  font-size: 2.4rem;
  color: #4f4f4f;
  margin-bottom: 6rem;
}

section a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #333333;
  padding: 2.4rem 4.3rem;
  font-size: 1.4rem;
  margin-bottom: 14rem;
}

@media (min-width: 675px) {
  section {
    width: 45%;
    min-width: 450px;
    max-width: 500px;
  }
}
footer {
  font-size: 1.4rem;
  text-align: center;
  color: #bdbdbd;
}

footer a {
  color: #bdbdbd;
  font-weight: 700;
}
